@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 22px #4b688123;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 55px #71879c7c;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased text-slate-700 dark:text-slate-300 bg-white dark:bg-slate-900;
}

section {
  @apply my-5 px-2 xl:px-0 sm:my-8;
}
.hero-image path {
  @apply fill-gray-100 dark:fill-slate-800;
}

/* style for todo app */
.todo-app .delete {
  @apply float-right py-1 px-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-600 focus:ring-2 focus:outline-none focus:ring-red-400 dark:bg-red-700 dark:hover:bg-red-600 dark:focus:ring-red-500;
}
.todo-app ul li {
  @apply py-2 border-dashed border-b-2;
}
.todo-app ul li input {
  @apply w-4 h-4 mr-2 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

.project-card:hover .project-name {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.295);
}

/* style for course management system */
.milestoneDetails img {
  @apply w-full h-auto object-cover transition-opacity duration-700 ease-linear;
}
.checkbox input {
  @apply w-4 h-4 mr-4 text-blue-600 bg-gray-100 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600;
}

input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.milestones,
.doneList {
  @apply cursor-pointer max-h-[530px] overflow-auto;
}

.doneList {
  /* @apply mt-4; */
}

.milestone,
.module {
  @apply text-sm m-2 p-2;
}

/* .border-b {
  @apply border-dashed border-b-2 border-gray-200;
} */

.hidden_panel {
  @apply max-h-0 overflow-hidden;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
}

.active {
  @apply font-bold;
}

.show {
  @apply max-h-[400px];
}
